$pagePadding: 15px;

/* Sg color palette */
/* Primary */
$sgRed: #e60028;
$sgSapphireBlue: #23558c;
$sgDarkGrey: #333333;
$sgDarkBlue: #2f333e;
$sgDefaultGrey: #f5f5f5;

/* Secondary */
$sgSuccess: #35bd5b;
$sgInfoBlue: #009bcd;
$sgWarning: #f17100;
$sgDanger: #b9292d;
$sgLightGreen: #bcf7cd;
$sgLightBlue: #b2e1f0;
$sgLightOrange: #ffd6b0;
$sgLightRed: #f7b2be;
$sgLightGrey: #dddedf;
$sgMediumGrey: #777777;