/*Variables*/
$cellPaddingLeft: 10px;
$cellPaddingRight: 10px;
$hiddenBoxMargin: 5px;
$colorSuccess: #35BD94;
$colorPending: #F5AE3E;
$colorFailure: #EA0631;
$mediumGrey: #BBBBBB;
$darkGrey: #898888;
$colorHeader: rgb(69, 68, 68);
//$colorFocusZone: rgb(255, 249, 227);
$colorFocusZone: $sgLightOrange;
$colorRegionBg: #F7F7F7;
$colorMarketBg: #FFFFFF;
$colorFlowTypeBg: #F7F7F7;
$colorFlowTypeBorder: #D1D7DA;