.nv-page-login {
	
	h2 {
		margin-top: 0px;
		margin-bottom: 20px;
	}

	.row {
		width: 600px;
		margin: 25vh auto;
	}

	button[type="submit"] {
		width: 100%;
	}

	.nv-login-desc {
		padding-top: 15px;
	}

	.nv-login-box {
		background: white;
		padding: 23px;
		padding-bottom: 20px;
		width: 244px;
	}

	form {
		margin: 0 auto;
		text-align: center;
	}

	.nvision-logo {
		margin-bottom: 20px;
	}

	.sg-logo {
		margin-top: 10px;
	}

}